/**
 * Stylesheet of the Netflix Stats Generator
 * @author Marvin Borner
 * @copyright Marvin Borner 2019
 */

html,
body {
    padding: 8px;
    color: #fff;
    background-color: #141414;
    font-family: "Varela Round", sans-serif !important;
    text-rendering: optimizeLegibility !important;
}

.loading,
.stats,
.input {
    display: none;
}

.stats {
    text-align: center;
}

.stats > div {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid white;
    max-width: 800px;
    margin: 8px auto;
}
