/**
 * Design of the Netflix Stats Generator
 * @author Marvin Borner
 * @copyright Marvin Borner 2018

//// General
$BlueColor: #1e3264

html, body
    width: 100vw !important
    background-color: #141518
    font-family: "Varela Round", sans-serif !important
    text-rendering: optimizeLegibility !important
    color: #bbb
    box-sizing: border-box !important
    overflow-x: hidden

.Main
    // display: none
    min-height: 100vh

.row:not(.MostWatchedOverview) div
    border: .5px solid #25272a

//// Charts
.MostWatchedOverview
    .Description
        margin: 20px
    .MostWatchedPoster
        height: 50%


/// Heatmap
.HeatmapWrap
    max-width: 100vw !important

text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial
    fill: #bbb
    font-size: 10px
    font-family: Helvetica, arial, 'Open Sans', sans-serif


rect.day-cell:hover 
    stroke: #555555
    stroke-width: 1px


.day-cell-tooltip 
    position: absolute
    z-index: 9999
    padding: 5px 9px
    color: #bbbbbb
    font-size: 12px
    background: rgba(0, 0, 0, 0.85)
    border-radius: 3px
    text-align: center


.day-cell-tooltip>span 
    font-family: Helvetica, arial, 'Open Sans', sans-serif


.calendar-heatmap
    overflow: visible
    box-sizing: initial

